body{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    font-family: 'Lato', sans-serif;
    background-color: rgb(35, 35, 93);
}
.container{
    background-color: white;
    width:800px;
    height:500px;
    position:relative;
}
.game{
    display:flex;
}
.content{
    padding:50px;
}
.question{
    font-size:40px;
}
.answer{
    font-size:24px;
    margin-bottom:20px;
    color:#333;

}
.submitbtn{
    background-color: blueviolet;
    color:white;
    border:none;
    cursor:pointer;
    width:100%;
    height:50px;
    font-size:18px;
    text-align: center;
    position:absolute;
    bottom:0;
}
.result{
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.resulttitle{
    font-size:59px;
}
.correct{
    color:green;
}
.wrong{
    color:red;
}
.playagain{
    color:white;
    background-color: blueviolet;
    cursor:pointer;
    padding:10px 20px;
    border:none;
    margin-top:50px;
    border-radius:5px
}